* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.btn {
  background-color:#15297c;
  color: rgb(255, 255, 255);
  border: none;
  padding: 12px; 
  font-size: 17px;
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.562);
  transition: transform 0.3s ease;
}

.btn:hover {
  background-color:#15297c;
  transform: scale(1.05);
  color: white;
}
  
.btn:active {
  background-color:#15297c;
  transform: scale(0.95);
}

.wrapper {
    justify-content: center;
    max-width: 500px;
    min-height: auto;
    margin: 30px auto;
    padding: 30px 30px 10px 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.562);
}

.formulario {
    justify-content: center;
    max-width: 700px;
    max-height: 700px;
    min-height: auto;
    margin: 20px auto;
    padding: 30px 30px 10px 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.562);
}

#formNewUser {
    justify-content: center;
    padding: 0;
}

.logo {
    object-fit: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 220px;
}

img {
    box-shadow: 0px 5px 0px 0px#282828 0px 5px 0px 0px#000000;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 13px;
    color: #666;
    padding: 10px 15px 10px 10px;
}

form label, input::placeholder {
    font-size: 14px;
}


label {
    font-size: 14px;
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: #8b8b8b 1px 1px 6px 2px
}

.wrapper .form-field .fas {
    color: #000000;
}

#boton {
    display: flex;
    justify-content: center;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #ffffff;
}

.wrapper a:hover {
    color: #000000;
}

p {
    color: #ffffff;
}



.logo {
    object-fit: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
  
 