#canchas-body {
  height: auto;
}

#datos-cancha{
  height: auto;
}

#datos {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  height: auto;
}

#row-datos {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  height: auto;
}

#logo {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

#logo img {
  width: 100%;
  border-radius: 50%;
  margin-top: 5px;
  border: 2px solid rgb(62, 150, 28);
}

#nombre-cancha {
  height: auto;
}

#nombre-cancha h4 {
  margin-top: 5px;
}

#nombre-cancha p {
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: black;
}
      

/*  Horarios    */

#datos-horarios {
  height: auto;
}

#reserva {
  margin-top: 10px;
}

#reserva select{
  margin-top: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#reserva h5 {
  margin-top: 10px;
  margin-left: 7%;
  font-weight: bold;
  color: black;
}

#tabla {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* VER TODAS LAS CANCHAS */

.carta-cancha {
padding-top: 15px;
}

#map {
margin-top: 10px;
margin-bottom: 10px;
height: 500px;
width: 650px;
}

html, body {
height: 0%;
margin: 0;
padding: 0;
}

#boton-volver {
  padding: 8px;
  border-radius: 12px;
  background-color: rgb(73, 177, 32);
  color: white;
  font-size: 15px;
  transition: transform 0.3s ease;
  border: 1px solid rgb(62, 150, 28);

}

#boton-volver:hover {
  transform: scale(1.05);
}

/* Estilos para el input */
.react-datepicker-wrapper {
  width: 10%;
  margin-top: 0;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

/* Estilos adicionales para el calendario */
.react-datepicker {
  font-family: 'Arial', sans-serif; /* Cambiar por la fuente que desees */
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.react-datepicker__header {
  background-color: #3a98fd;
}