/* Fondo oscuro semi-transparente */
/* .modal {
  background-color: rgba(0, 0, 0, 0.7);
} */

/* Contenido del modal */
.modal-left-content {
  background-color: #fff; /* Fondo blanco */
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

/* Estilo del título del modal */
.modal_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_header-title {
  font-size: 20px;
  font-weight: bold;
}

/* Estilo del contenido del modal */
.modal_content {
  text-align: center;
}

/* Estilo de los botones */
.modal-close {
  background-color: #ff5252; /* Rojo */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit {
  background-color: #4caf50; /* Verde */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover sobre los botones */
.modal-close:hover {
  background-color: #ff0000; /* Rojo más oscuro */
}

.submit:hover {
  background-color: #45a049; /* Verde más oscuro */
}
